body {
    font-family: 'Source Sans Pro';
}

a {
    color:#02A300;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

a:hover {
    color:#02A300;
    text-decoration: underline;
}